<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- HelloWorldEn hello1=new HelloWorldEn(); -->
	<bean id='hello1' class='beans.HelloWorldEn'/>
	<bean id='hello2' class='beans.HelloWorldKr'/>
	
	<bean id='tv1' class='beans.SamsungTV'/>
	<bean id='tv2' class='beans.SoldeskTV'/>
	
	
</beans> 